<a href="https://colab.research.google.com/github/Cecax27/DS-Stardew-Valley-Crops-Profit/blob/main/notebooks/Stardew_valley_web_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraper on Stardew Valley wiki

This notebook is to make web scraping on the Stardew Valley Wiki. We need to extract information about the crops, and the products that you can create with them.

The url of the website is https://stardewvalleywiki.com. You can visit it to find a lot of information about the game.

## Importing libraries

In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from pprint import pprint

## Declaring constants

In [3]:
home_url = 'https://stardewvalleywiki.com'
crops_url = 'https://stardewvalleywiki.com/Crops'

## Get crops urls list

In [19]:
# Making the request
crops_page = requests.get(crops_url)

# Pasing the HTML with BeatifulSoup
crops_soup = BeautifulSoup(crops_page.text, 'lxml')

#Finding the urls
crops_names = crops_soup.find('div', attrs = {'class' : 'mw-parser-output'}).find_all('h3')[10:-1]

#Making a links list
crops_links_list = [home_url + crop_name.find_all('a')[1].get('href') for crop_name in crops_names]
crops_names_list = [crop_name.get_text().strip() for crop_name in crops_names]

print(f'{len(crops_links_list)} links founded')

43 links founded

## Declaring functions to extract data

In [39]:
# Function to extract information about the seed

def get_seed_information(link) -> dict:

  # Getting data to work
  try:
    s = requests.get(link)
    raw_information = BeautifulSoup(s.text, 'lxml')
  except Exception as e:
    print('An error ocurred making the request:')
    print(e)
    print('/n')
    return dict()

  # Dictionary to save the data
  price_dict = dict()

  # Finding data
  for row in raw_information.find('table').find_all('tr'):

    title = row.find('td').get_text().strip().replace(':', '').lower().replace(' ', '_')

    if title == 'general_store':
      try:
        price_dict[title+'_price'] = int(row.find_all('td')[1].find_all('span')[1].get_text()[:-1])
      except:
        price_dict[title+'_price'] = np.nan

    elif title == 'jojamart':
      try:
        price_dict[title+'_price'] = int(row.find_all('td')[1].find_all('span')[1].get_text()[:-1])
      except:
        price_dict[title+'_price'] = np.nan

    elif title == 'oasis':
      price_dict[title+'_price'] = int(row.find_all('td')[1].find_all('span')[1].get_text()[:-1])

    elif title == 'traveling_cart':
      price_dict[title+'_price_min'] = int(row.find_all('td')[1].get_text().split('"')[-1].split('g')[0].replace(',','').split('–')[0])
      price_dict[title+'_price_max'] = int(row.find_all('td')[1].get_text().split('"')[-1].split('g')[0].replace(',','').split('–')[1])

    elif title == 'night_market(winter_15)':
      price_dict[title.split('(')[0]+'_price'] = int(row.find_all('td')[1].find_all('span')[1].get_text()[:-1])

  return price_dict

In [43]:
# Testing
pprint(get_seed_information('https://stardewvalleywiki.com/Starfruit_Seeds'))

{'general_store_price': nan,
 'jojamart_price': nan,
 'oasis_price': 400,
 'traveling_cart_price_max': 1000,
 'traveling_cart_price_min': 600}

In [44]:
def get_crop_information(link) -> dict:

  # Getting data to work
  try:
    s = requests.get(link)
    raw_information = BeautifulSoup(s.text, 'lxml').find('table').find_all('tr')
  except Exception as e:
    print('An error ocurred making the request:')
    print(e)
    print('/n')
    return dict()

  # Constants
  prices_sufix = ['regular', 'silver', 'gold', 'iridium']

  # Dictionary to save the data
  inf_dict = {
      'name' : raw_information[0].get_text().strip(),
      'description' : raw_information[2].get_text().strip()
  }

  # Finding data
  for data in raw_information[4:]:

    field = data.find('td').get_text().strip().lower().replace(' ', '_')

    if '\t' in field or ':' in field or '/' in field or field == '' or field[0].isdigit():
      continue

    if field == 'sell_price' or field == 'sell_prices':
      try:
        prices = data.find('table').find_all('td')
        prices = list(map(lambda i: i.get_text().split('g')[0], prices))[1:]
        prices = list(filter(lambda i: i != '', prices))
        prices = list(map(lambda i: int(i), prices))
        for index, price in enumerate(prices):
          inf_dict[field+'_'+prices_sufix[index]] = price
        continue
      except Exception as e:
        try:
          index = raw_information.index(data) + 2
          prices = raw_information[index].find('table').find_all('td')
          prices = list(map(lambda i: i.get_text().split('g')[0].replace(',',''), prices))[1:]
          prices = list(filter(lambda i: i != '', prices))
          prices = list(map(lambda i: int(i), prices))
          for index, price in enumerate(prices):
            inf_dict[field+'_'+prices_sufix[index]] = price
          continue
        except Exception as e:
          print(e)
        continue
    if field == 'seed':
      try:
        url = home_url + data.find_all('td')[1].find('a').get('href')
        inf_dict.update(get_seed_information(url))
      except Exception as e:
        print(e)
    try:
      inf_dict[field] = data.find_all('td')[1].get_text().strip().replace(' • ', ',')
    except:
      pass

  return inf_dict

In [46]:
# Testing
pprint(get_crop_information('https://stardewvalleywiki.com/Blue_Jazz'))

{'base': 'Artisan (+40%)',
 'description': 'The flower grows in a sphere to invite as many butterflies as '
                'possible.',
 'general_store_price': 30,
 'growth_time': '7 days',
 'jojamart_price': 37,
 'name': 'Blue Jazz',
 'night_market_price': 30,
 'season': 'Spring',
 'seed': 'Jazz Seeds',
 'sell_prices_gold': 75,
 'sell_prices_iridium': 100,
 'sell_prices_regular': 50,
 'sell_prices_silver': 62,
 'traveling_cart_price_max': 1000,
 'traveling_cart_price_min': 100,
 'xp': '10 Farming XP'}

Extracting all the data

In [49]:
df_data = [get_crop_information(link) for link in crops_links_list]
columns = [list(item.keys()) for item in df_data]
columns = set()
for sublist in [list(item.keys()) for item in df_data]:
  for element in sublist:
    columns.add(element)
columns = list(columns)
df = pd.DataFrame(df_data, columns = columns)

can only concatenate str (not "NoneType") to str
invalid literal for int() with base 10: 'Not Sold\n'
invalid literal for int() with base 10: 'Not sold\n'
list index out of range
invalid literal for int() with base 10: 'Not sold\n'
invalid literal for int() with base 10: 'Not sold\n'
'NoneType' object has no attribute 'find_all'

In [51]:
name_column = df.pop('name')
df.insert(0, 'name', name_column)
df.sort_values('name')
#Joining the sell_price columns

df['sell_price_regular'] = df['sell_price_regular'].combine_first(df['sell_prices_regular'])
df = df.drop('sell_prices_regular', axis=1)

df['sell_price_silver'] = df['sell_price_silver'].combine_first(df['sell_prices_silver'])
df = df.drop('sell_prices_silver', axis=1)

df['sell_price_gold'] = df['sell_price_gold'].combine_first(df['sell_prices_gold'])
df = df.drop('sell_prices_gold', axis=1)

df['sell_price_iridium'] = df['sell_price_iridium'].combine_first(df['sell_prices_iridium'])
df = df.drop('sell_prices_iridium', axis=1)

# Create separate columns for each season
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
for season in seasons:
    df[season.lower()] = df['season'].str.contains(season, case=False)

# Fill the values with True or False
df = df.replace({True: 'True', False: 'False'})
df = df.drop('season', axis=1)

# Print the resulting dataframe
df.head()

KeyError: ignored

In [52]:
df

,name,description,sell_price_gold,traveling_cart_price_max,traveling_cart_price_min,source,sell_price_silver,energy,base,xp,...,sell_price_iridium,jojamart_price,sell_price_regular,growth_time,seed,artisan_sell_price,spring,summer,fall,winter
0,Blue Jazz,The flower grows in a sphere to invite as many...,75.0,1000.0,100.0,NaN,62.0,NaN,Artisan (+40%),10 Farming XP,...,100.0,37.0,50.0,7 days,Jazz Seeds,NaN,True,False,False,False
1,Cauliflower,"Valuable, but slow-growing. Despite its pale c...",262.0,1000.0,120.0,NaN,218.0,NaN,Artisan (+40%),23 Farming XP,...,350.0,100.0,175.0,12 days,Cauliflower Seeds,NaN,True,False,False,False
2,Coffee Bean,Plant in spring or summer to grow a coffee pla...,22.0,NaN,NaN,"Dust Sprite,Traveling Cart",18.0,Inedible,NaN,4 Farming XP per harvest,...,30.0,NaN,15.0,10 days,Coffee Bean,150g,True,True,False,False
3,Garlic,Adds a wonderful zestiness to dishes. High qua...,90.0,1000.0,100.0,NaN,75.0,NaN,Artisan (+40%),12 Farming XP,...,120.0,NaN,60.0,4 days,Garlic Seeds,NaN,True,False,False,False
4,Green Bean,"A juicy little bean with a cool, crisp snap.",60.0,1000.0,100.0,NaN,50.0,NaN,Artisan (+40%),9 Farming XP,...,80.0,75.0,40.0,10 days,Bean Starter,NaN,True,False,False,False
5,Kale,The waxy leaves are great in soups and stir frys.,165.0,1000.0,105.0,NaN,137.0,NaN,Artisan (+40%),17 Farming XP,...,220.0,87.0,110.0,6 days,Kale Seeds,NaN,True,False,False,False
6,Parsnip,A spring tuber closely related to the carrot. ...,52.0,1000.0,100.0,NaN,43.0,NaN,Artisan (+40%),8 Farming XP,...,70.0,25.0,35.0,4 days,Parsnip Seeds,NaN,True,False,False,False
7,Potato,A widely cultivated tuber.,120.0,1000.0,100.0,NaN,100.0,NaN,Artisan (+40%),14 Farming XP,...,160.0,62.0,80.0,6 days,Potato Seeds,NaN,True,False,False,False
8,Rhubarb,"The stalks are extremely tart, but make a grea...",330.0,1000.0,150.0,NaN,275.0,Inedible,Artisan (+40%),26 Farming XP,...,440.0,NaN,220.0,13 days,Rhubarb Seeds,NaN,True,False,False,False
9,Strawberry,"A sweet, juicy favorite with an appealing red ...",180.0,NaN,NaN,NaN,150.0,NaN,Artisan (+40%),18 Farming XP,...,240.0,NaN,120.0,8 days,Strawberry Seeds,NaN,True,False,False,False
10,Tulip,The most popular spring flower. Has a very fai...,45.0,1000.0,100.0,NaN,37.0,NaN,Artisan (+40%),7 Farming XP,...,60.0,25.0,30.0,6 days,Tulip Bulb,NaN,True,False,False,False
11,Unmilled Rice,Rice in its rawest form. Run this through a mi...,45.0,1000.0,100.0,NaN,37.0,NaN,Artisan (+40%),7 Farming XP,...,60.0,NaN,30.0,8 days (6 when irrigated),Rice Shoot,NaN,True,False,False,False
12,Blueberry,A popular berry reported to have many health b...,75.0,1000.0,120.0,NaN,62.0,NaN,Artisan (+40%),10 Farming XP per harvest,...,100.0,NaN,50.0,13 days,Blueberry Seeds,NaN,False,True,False,False
13,Corn,"One of the most popular grains. The sweet, fre...",75.0,1000.0,225.0,NaN,62.0,NaN,Artisan (+40%),10 Farming XP,...,100.0,187.0,50.0,14 days,Corn Seeds,NaN,False,True,True,False
14,Hops,"A bitter, tangy flower used to flavor beer.",37.0,1000.0,100.0,NaN,31.0,NaN,Artisan (+40%),6 Farming XP,...,50.0,75.0,25.0,11 days,Hops Starter,NaN,False,True,False,False
15,Hot Pepper,Fiery hot with a hint of sweetness.,60.0,1000.0,100.0,NaN,50.0,NaN,Artisan (+40%),9 Farming XP,...,80.0,50.0,40.0,5 days,Pepper Seeds,NaN,False,True,False,False
16,Melon,"A cool, sweet summer treat.",375.0,1000.0,120.0,NaN,312.0,NaN,Artisan (+40%),27 Farming XP,...,500.0,100.0,250.0,12 days,Melon Seeds,NaN,False,True,False,False
17,Poppy,"In addition to its colorful flower, the Poppy ...",210.0,1000.0,150.0,NaN,175.0,NaN,Artisan (+40%),20 Farming XP,...,280.0,125.0,140.0,7 days,Poppy Seeds,NaN,False,True,False,False
18,Radish,A crisp and refreshing root vegetable with hin...,135.0,1000.0,100.0,NaN,112.0,NaN,Artisan (+40%),15 Farming XP,...,180.0,50.0,90.0,6 days,Radish Seeds,NaN,False,True,False,False
19,Red Cabbage,Often used in salads and coleslaws. The color ...,390.0,1000.0,150.0,NaN,325.0,NaN,Artisan (+40%),28 Farming XP,...,520.0,NaN,260.0,9 days,Red Cabbage Seeds,NaN,False,True,False,False
20,Starfruit,"An extremely juicy fruit that grows in hot, hu...",1125.0,1000.0,600.0,NaN,937.0,NaN,Artisan (+40%),43 Farming XP,...,1500.0,NaN,750.0,13 days,Starfruit Seeds,NaN,False,True,False,False
21,Summer Spangle,A tropical bloom that thrives in the humid sum...,135.0,1000.0,100.0,NaN,112.0,NaN,Artisan (+40%),15 Farming XP,...,180.0,62.0,90.0,8 days,Spangle Seeds,NaN,False,True,False,False
22,Sunflower,A common misconception is that the flower turn...,120.0,1000.0,100.0,NaN,100.0,NaN,Artisan (+40%),14 Farming XP,...,160.0,125.0,80.0,8 days,Sunflower Seeds,NaN,False,True,True,False
23,Tomato,"Rich and slightly tangy, the Tomato has a wide...",90.0,1000.0,100.0,NaN,75.0,NaN,Artisan (+40%),12 Farming XP,...,120.0,62.0,60.0,11 days,Tomato Seeds,NaN,False,True,False,False
24,Wheat,One of the most widely cultivated grains. Make...,37.0,1000.0,100.0,NaN,31.0,Inedible,Artisan (+40%),6 Farming XP,...,50.0,12.0,25.0,4 days,Wheat Seeds,NaN,False,True,True,False
25,Amaranth,A purple grain cultivated by an ancient civili...,225.0,1000.0,105.0,NaN,187.0,NaN,Artisan (+40%),21 Farming XP,...,300.0,87.0,150.0,7 days,Amaranth Seeds,NaN,False,False,True,False
26,Artichoke,The bud of a thistle plant. The spiny outer le...,240.0,1000.0,100.0,NaN,200.0,NaN,Artisan (+40%),22 Farming XP,...,320.0,NaN,160.0,8 days,Artichoke Seeds,NaN,False,False,True,False
27,Beet,"A sweet and earthy root vegatable. As a bonus,...",150.0,1000.0,100.0,NaN,125.0,NaN,Artisan (+40%),16 Farming XP,...,200.0,NaN,100.0,6 days,Beet Seeds,NaN,False,False,True,False
28,Bok Choy,The leafy greens and fibrous stalks are health...,120.0,1000.0,100.0,NaN,100.0,NaN,Artisan (+40%),14 Farming XP,...,160.0,62.0,80.0,4 days,Bok Choy Seeds,NaN,False,False,True,False
29,Cranberries,These tart red berries are a traditional winte...,112.0,1000.0,180.0,NaN,93.0,NaN,Artisan (+40%),14 Farming XP per harvest,...,150.0,300.0,75.0,7 days,Cranberry Seeds,NaN,False,False,True,False
30,Eggplant,A rich and wholesome relative of the tomato. D...,90.0,1000.0,100.0,NaN,75.0,NaN,Artisan (+40%),12 Farming XP,...,120.0,25.0,60.0,5 days,Eggplant Seeds,NaN,False,False,True,False
31,Fairy Rose,An old folk legend suggests that the sweet sme...,435.0,1000.0,300.0,NaN,362.0,NaN,Artisan (+40%),29 Farming XP,...,580.0,250.0,290.0,12 days,Fairy Seeds,NaN,False,False,True,False
32,Grape,A sweet cluster of fruit.,120.0,1000.0,165.0,"Foraging,Farming",100.0,NaN,Artisan (+40%),Summer Seeds: 7 Foraging XPForaging: 7 Foragin...,...,160.0,NaN,80.0,7 days (Summer Seeds)10 days (Grape Starter),Summer Seeds (Summer) Grape Starter (Fall),NaN,False,True,True,False
33,Pumpkin,"A fall favorite, grown for its crunchy seeds a...",480.0,1000.0,150.0,NaN,400.0,Inedible,Artisan (+40%),31 Farming XP,...,640.0,125.0,320.0,13 days,Pumpkin Seeds,NaN,False,False,True,False
34,Yam,A starchy tuber with a lot of culinary versati...,240.0,1000.0,100.0,NaN,200.0,NaN,Artisan (+40%),22 Farming XP,...,320.0,75.0,160.0,10 days,Yam Seeds,NaN,False,False,True,False
35,Ancient Fruit,It's been dormant for eons.,825.0,1000.0,100.0,NaN,687.0,Inedible,Artisan (+40%),38 Farming XP,...,1100.0,NaN,550.0,28 days,Ancient Seeds,NaN,True,True,True,False
36,Cactus Fruit,The sweet fruit of the prickly pear cactus.,112.0,NaN,NaN,Foraging in the Desert\nOasis\n Cactus Seeds,93.0,NaN,Artisan (+40%),Foraging: 7 Foraging XP\nCactus Seeds: 14 Farm...,...,150.0,NaN,75.0,12 days,NaN,NaN,False,False,False,False
37,Fiber,Raw material sourced from plants.,NaN,NaN,NaN,Weeds\nDesert Trader\nWilderness Golem,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fiber Seeds,NaN,NaN,NaN,NaN,NaN
38,Mixed Seeds,There's a little bit of everything here. Plant...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Pineapple,A sweet and tangy tropical treat.,450.0,NaN,NaN,NaN,375.0,NaN,Artisan (+40%),30 Farming XP,...,600.0,NaN,300.0,14 days,Pineapple Seeds,NaN,False,True,False,False
40,Taro Root,This starchy root is one of the most ancient c...,150.0,NaN,NaN,NaN,125.0,NaN,Artisan (+40%),5 Farming XP,...,200.0,NaN,100.0,10 days (7 when irrigated),Taro Tuber,NaN,False,True,False,False
41,Sweet Gem Berry,It's by far the sweetest thing you've ever sme...,NaN,1000.0,600.0,NaN,NaN,Inedible,NaN,64 Farming XP,...,NaN,NaN,NaN,24 days,Rare Seed,NaN,False,False,True,False
42,Tea Leaves,The young leaves of the tea plant. Can be brew...,NaN,2500.0,1500.0,NaN,NaN,Inedible,Artisan (+40%),0,...,NaN,NaN,50.0,20 days,Tea Sapling,NaN,True,True,True,False

In [ ]:
df['growth_time'] = (
    df
    .growth_time
    .fillna('0')
    .apply(lambda i: i.split(' ')[0])
    .astype(int)
)

In [ ]:
df.to_csv('crops.csv')

**Deleting the Ginger Island crops**

I deleted the Ginger Island crops because you can't buy the seed in the stores. You can trade they but it's more difficult to compare the price of the trade with gold. The Ginger Island crops are:

* Taro roots
* Pineapple

Also, I deleted some crops in similar situations, like:

* Tea Leaves
* Sweet Gem Berry
* Mixed Seeds
* Fiber
* Cactus Fruit
* Strawberry
* Coffee Bean

In [ ]:
df = df.drop(df[df['name'] == 'Taro Root'].index)
df = df.drop(df[df['name'] == 'Pineapple'].index)

df = df.drop(df[df['name'] == 'Tea Leaves'].index)
df = df.drop(df[df['name'] == 'Sweet Gem Berry'].index)
df = df.drop(df[df['name'] == 'Mixed Seeds'].index)
df = df.drop(df[df['name'] == 'Fiber'].index)
df = df.drop(df[df['name'] == 'Cactus Fruit'].index)
df = df.drop(df[df['name'] == 'Strawberry'].index)
df = df.drop(df[df['name'] == 'Coffee Bean'].index)

In [ ]:
df.columns

Index(['name', 'sell_price_gold', 'growth_time', 'traveling_cart_price_max',
       'seed', 'energy', 'base', 'night_market_price', 'source',
       'sell_price_regular', 'sell_price_iridium', 'oasis_price', 'xp',
       'general_store_price', 'sell_price_silver', 'jojamart_price',
       'artisan_sell_price', 'description', 'traveling_cart_price_min',
       'spring', 'summer', 'fall', 'winter', 'price_min', 'gold_per_day'],
      dtype='object')

In [ ]:
df['price_min'] = df[['night_market_price', 'oasis_price', 'general_store_price', 'jojamart_price', 'traveling_cart_price_min']].min(axis=1)

In [ ]:
df[['name', 'sell_price_regular', 'growth_time', 'price_min']].head()

          name  sell_price_regular  growth_time  price_min
0    Blue Jazz                50.0            7       30.0
1  Cauliflower               175.0           12       80.0
3       Garlic                60.0            4       40.0
4   Green Bean                40.0           10       60.0
5         Kale               110.0            6       70.0

In [ ]:
df['gold_per_day'] = ( df['sell_price_iridium'] - df['price_min'])  / df['growth_time']

In [ ]:
df[df['spring'] == 'True'][['name', 'sell_price_iridium', 'growth_time', 'price_min', 'gold_per_day']].sort_values('gold_per_day', ascending = False)

             name  sell_price_iridium  growth_time  price_min  gold_per_day
35  Ancient Fruit              1100.0           28      100.0     35.714286
8         Rhubarb               440.0           13      100.0     26.153846
5            Kale               220.0            6       70.0     25.000000
1     Cauliflower               350.0           12       80.0     22.500000
3          Garlic               120.0            4       40.0     20.000000
7          Potato               160.0            6       50.0     18.333333
6         Parsnip                70.0            4       20.0     12.500000
0       Blue Jazz               100.0            7       30.0     10.000000
10          Tulip                60.0            6       20.0      6.666667
11  Unmilled Rice                60.0            8       40.0      2.500000
4      Green Bean                80.0           10       60.0      2.000000